    <div class="countdown-container">
        <div class="timer-flip">
            <div>
                <div class="timer-duration"> <span>{{ countdownDays | number:'2.0' }} </span></div>
                <div class="timer-Label">Days</div>
            </div>
            <div>
                <div class="timer-duration"> <span>{{ countdownHours | number:'2.0' }}</span> </div>
                <div class="timer-Label">Hours</div>
            </div>
            <div>
                <div class="timer-duration"> <span>{{ countdownMins | number:'2.0' }}</span> </div>
                <div class="timer-Label">Minutes</div>
            </div>
            <div>
                <div class="timer-duration"> <span>{{ countdownSecs | number:'2.0' }}</span> </div>
                <div class="timer-Label">Seconds</div>
            </div>
        </div>
    </div>