@font-face {
    font-family: RedHatText;
    src: url('assets/fonts/RedHatText-Bold.ttf');
}

body{
    background: linear-gradient(to bottom, rgb(30,30,40), rgb(36,30,44)) !important;
    font-family: RedHatText !important;
}

::selection{
    background: #CC5674;
    color: #FFF;
}